parameters:
    database_host: rdsuz7cpk5r23ytx02t0.mysql.rds.aliyuncs.com
    database_name: sandbox_service_feed
    database_user: develop_root
    database_password: go_beta_123
    database_port: '3306'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt
